body{
    background-color: white;
    margin: 0;
    padding: 0;
}
#header{
    background-color: rgb(33, 58, 139);
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 40px;
    color: antiquewhite
    
}
